params {
    read_dir = '/projects/AusGEM/Cam/Dairy_Effluent/reads/all_reads/test'
    outdir = '/projects/AusGEM/Cam/Dairy_Effluent/reads/all_reads/test/SNPlord_out'
    ref = "$params.read_dir/*.fa"
    reads = "$params.read_dir/*.R{1,2}.fastq.gz"
    params.alignment = ["core", "full", "both"] // default 'both'
}

process {
    withName:SNIPPY {
        container = 'staphb/snippy'
        cpus = 60
        }
    withName:SNIPPYCORE {
        container = 'staphb/snippy'
    }
    withName:IQTREE {
        container = 'staphb/iqtree'
    }
}

singularity {
    enabled = true
    cacheDir = 'singularity/'
}