params {
    read_dir = '/data/cajreid/snplord_testdata'
    outdir = '/data/cajreid/snplord_testdata/SNPlord_out'
    ref = "$params.read_dir/*.fa"
    reads = "$params.read_dir/*.R{1,2}.fastq.gz"
    params.use_alignment = "both" // default 'both', can use 'core' or 'full'
}

process {
    withName:SNIPPY {
        container = 'staphb/snippy'
        cpus = 60
        }
    withName:SNIPPYCORE {
        container = 'staphb/snippy'
    }
    withName:IQTREE {
        container = 'staphb/iqtree'
    }
}

singularity {
    enabled = true
    cacheDir = 'singularity/'
}

