params{
    read_dir = "/projects/AusGEM/Cam/Dairy_Effluent/reads/all_reads/test"
    output_dir = "/projects/AusGEM/Cam/Dairy_Effluent/reads/all_reads/test/SNPlord_out"
    ref = "$params.read_dir/GCF_000005845.2_ASM584v2_genomic.fa"
    reads = "$params.read_dir/*.R{1,2}.fastq.gz"
    cpu = '20' 
}

process {
    withName:SNIPPY {
        container = 'docker://staphb/snippy'
        }
    withName:SNIPPYCORE {
        container = 'docker://staphb/snippy'
    }
    withName:IQTREE {
        container = 'docker://staphb/iqtree'
    }
}

singularity {
    enabled = true
}